<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magefan_ConflictDetector::elements" title="Conflict Detector" module="Magefan_ConflictDetector" parent="Magento_Backend::system_tools" action="conflictdetector/index" sortOrder="50" resource="Magefan_ConflictDetector::elements"/>
    </menu>
</config>
